
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<div>
    <h3>Here you have my CV</h3>
    <p>
        <code>
                CV:CV är en abbreviation av de latinska orden 'curriculum vitae', 
                vilka översätts med orden 'livscykel'. <br>En professionell CV erbjuder 
                       en sammanfattning och en generell 
                översikt över ens liv.

              Ditt CV innehåller din utbildning (ar)
                och kvalifikationer, arbetslivserfarenhet, färdigheter 
                samt andra viktiga egenskaper.<br> Med hjälp av ditt CV så kan 
                din potentiella arbetsgivare snabbt få en bra bild av dina färdigheter, 
            arbetslivserfarenhet och
                relevanta kunskaper för att kunna göra en rättvis bedömning <br>huruvida du passar till jobbet
                eller ej och avgöra om de önskar erbjuda dig en jobbintervju.
        </code>
    </P>
    



</div>


 