
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>
<div>
    <p>
    <p>
        If you click one of those links  down below, you will come my Mvc training page,<br>
        And my first Html Assingmentpage
    </p>
        <ul>
            <li>
    
    <a href="https://github.com/AbdilahiHassan/FirstAsp/blob/master/FirstAsp/views/home/about.cshtml">First GitHubLinks</a>
    </li>

    <li>
        <a href="https://github.com/AbdilahiHassan/My-FirstPage">Secondy GitHubLinks</a>
    </li>
    </ul>
    </p>


</div>
